*{
  box-sizing: border-box;
}
body {
    background-color: rgba(248, 248, 248, 0.933);
}
main {
  background-color: #fff;
  width: 70%;
  min-height: 600px;
  border-radius: 10px;
  box-shadow: 5px 5px 18px #bdbdbd;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  padding-bottom: 20px;
}
main > .img_header{
  background: linear-gradient( rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4) ), url("../img/header.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main > .input_body{
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  height: 60px;
  margin-top: -30px;
  border-radius: 4px;
  box-shadow: 5px 5px 18px #bdbdbd;
}
main > .input_body > input{
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size:24px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 15px;
}
main > .input_body > button{
  margin-left: -30px;
  width: 100px;
  height: 100%;
  border: none;
  cursor: pointer;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size:18px;
  background-color: rgb(14, 119, 31);
  color: #fff;
  transition: .41s;
}
main > .input_body > button:hover{
  transform: scale(1.05);
}
main > .container {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 50px;
}
main > .container > .header_main{
  height: 55px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
main > .container > .header_main > h1{
  font-weight: 500 !important;
  font-size: 45px;
  text-decoration: underline dotted;
}
main > .container > .header_main > .checkbox{
  margin-left: auto;
  cursor: pointer;
}
main > .container > .header_main > .checkbox >*{
  cursor: pointer;
}
main > .container > .body_main {
  margin-top: 50px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto auto;
  align-items: start;
}
main > .container > .body_main > .card {
  width: 250px;
  height: 200px;
  border: 1px solid rgb(19, 163, 182);
  box-shadow: 5px 5px 18px #bdbdbd;
  padding:10px;
  padding-top: 40px;
  border-radius: 4px;
  margin-right: 10px;
}
main > .container > .body_main > .card > input[type="text"] {
  width: 200px;
  border: 1px solid #000;
  height: 30px;
  outline: none;
  border-radius:4px;
  font-size: 18px;
  margin-bottom: 15px;
}
main > .container > .body_main > .card > input[type="checkbox"] {
  outline: none;
  border-radius:4px;
  margin-bottom: 10px;
}
main > .container > .body_main > .card > button {
  width: 98px;
  margin-top: 10px;
  height: 30px;
  border: none;
  border-radius:4px;
  cursor: pointer;
}
main > .container > .body_main > .card > .btn_edit {
  background-color: rgb(0, 147, 184) !important;
  color: #fff !important;
}
main > .container > .body_main > .card > .btn_remove {
  background-color: rgb(167, 53, 33) !important;
  color: #fff !important;
}